body {
  font: 11px sans-serif;
}

.axis line,
.axis text {
  font: 11px sans-serif;
}

.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tooltip {
	font-size:16px;
	position: absolute;
	width: 250px;
	height: 50px;
	pointer-events: none;
	border-style: none;
}

#myselectform {
	margin-left: 20px;
	margin-bottom: 10px;
}


#mytype {
	position: left;
	padding-bottom: 10px;

}

#interactions {
	margin-top:10px;
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	border-color: lightgrey;
	padding-top: 250px;
	margin-right: 10px;
	padding-left: 20px;
}

#legend {
	margin-top:10px;
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	border-color: lightgrey;
	margin-right: 10px;
	padding-left: 30px;
}

.tooltip {
	left: 40px;
	top: 40px;	
}

#caff {
	margin-right: 15px;
}

#cal {
	margin-right: 15px;
}
